/*

!/app/
/app/*
!/app/code/
/app/code/Magento
!/app/design/
/app/design/*/Magento
!/app/i18n
!/app/etc
/app/etc/*
!/app/etc/config.php
!/app/etc/stores.php

!/patches/

!README.md
!nginx.conf
!composer.json
!composer.lock
!.gitignore
!.env
!.env.sample
!.gitlab-ci.yml
!deploy.php
!hosts.yml

!/pub/
/pub/*
!/pub/errors/
/pub/errors/*
